<div>
    <h2>
        <span jhiTranslate="gatewayApp.assetassetmbr.home.title">Assetassetmbrs</span>
        <button class="btn btn-primary float-right create-assetassetmbr" [routerLink]="['/', { outlets: { popup: ['assetassetmbr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.assetassetmbr.home.createLabel">
            Create new Assetassetmbr
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.assetassetmbr.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="assetassetmbrs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="gatewayApp.assetassetmbr.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="xcoordinate"><span jhiTranslate="gatewayApp.assetassetmbr.xcoordinate">Xcoordinate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ycoordinate"><span jhiTranslate="gatewayApp.assetassetmbr.ycoordinate">Ycoordinate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentinstance"><span jhiTranslate="gatewayApp.assetassetmbr.parentinstance">Parentinstance</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="childinstance"><span jhiTranslate="gatewayApp.assetassetmbr.childinstance">Childinstance</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameshort"><span jhiTranslate="gatewayApp.assetassetmbr.nameshort">Nameshort</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="gatewayApp.assetassetmbr.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="gatewayApp.assetassetmbr.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifiedby"><span jhiTranslate="gatewayApp.assetassetmbr.lastmodifiedby">Lastmodifiedby</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifieddatetime"><span jhiTranslate="gatewayApp.assetassetmbr.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domain"><span jhiTranslate="gatewayApp.assetassetmbr.domain">Domain</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentasset.name"><span jhiTranslate="gatewayApp.assetassetmbr.parentasset">Parentasset</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="childasset.name"><span jhiTranslate="gatewayApp.assetassetmbr.childasset">Childasset</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="model.name"><span jhiTranslate="gatewayApp.assetassetmbr.model">Model</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assetassetmbr of assetassetmbrs ;trackBy: trackId">
                <td><a [routerLink]="['../assetassetmbr', assetassetmbr.id ]">{{assetassetmbr.id}}</a></td>
                <td>{{assetassetmbr.comment}}</td>
                <td>{{assetassetmbr.xcoordinate}}</td>
                <td>{{assetassetmbr.ycoordinate}}</td>
                <td>{{assetassetmbr.parentinstance}}</td>
                <td>{{assetassetmbr.childinstance}}</td>
                <td>{{assetassetmbr.nameshort}}</td>
                <td>{{assetassetmbr.description}}</td>
                <td>{{assetassetmbr.status}}</td>
                <td>{{assetassetmbr.lastmodifiedby}}</td>
                <td>{{assetassetmbr.lastmodifieddatetime | date:'medium'}}</td>
                <td>{{assetassetmbr.domain}}</td>
                <td>
                    <div *ngIf="assetassetmbr.parentasset">
                        <a [routerLink]="['../asset', assetassetmbr.parentasset?.id ]" >{{assetassetmbr.parentasset?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="assetassetmbr.childasset">
                        <a [routerLink]="['../asset', assetassetmbr.childasset?.id ]" >{{assetassetmbr.childasset?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="assetassetmbr.model">
                        <a [routerLink]="['../model', assetassetmbr.model?.id ]" >{{assetassetmbr.model?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../assetassetmbr', assetassetmbr.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'assetassetmbr/'+ assetassetmbr.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'assetassetmbr/'+ assetassetmbr.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="assetassetmbrs && assetassetmbrs.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
